<!DOCTYPE html>
{% load staticfiles %}
{% load portal_template_tags %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Django Link Portal</title>
    </head>

    <body>
        <div>
            {% block sidebar_block %}
            {% get_category_list category%}
            {% endblock %}
        </div>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <hr/>
        <div>
            <ul>
                <li><a href="{% url 'portal:portal_add_category' %}">add new category</a></li>
                <li><a href="{% url 'portal:portal_index' %}">home</a></li>
                <li><a href="{% url 'portal:portal_about' %}">about</a></li>
            </ul>
        </div>


    </body>

</html>

