{%  extends 'portal/base.html' %}
{% load staticfiles %}


{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% else %}
            THERE ARE NO PAGES IN THIS CATEGORY
        {% endif %}
        <div>
            <p>
                <a href="{% url 'portal:portal_add_page' category.slug %}">Add new page to this category</a>
            </p>
        </div>

    {% else %}
        THERE IS NO CATEGORY MATCHING YOUR QUERY
    {% endif %}
{%  endblock %}